<section id="main">
  <div class="jumbotron banner-1">
    <div class="container tit-desc">
      <h1 class="display-6 titolo">COSTRUZIONI DAGI</h1>
      <p class="descrizione">
        Specializzati in edilizia e ristrutturazioni nel <b>Sud Sardegna</b>,
        Costruzioni DAGI offre soluzioni su misura.
         Dai vita con Dagi ai tuoi <b>progetti edilizi</b>
      </p>
     
    </div>
    <div class="btn-container">
      <button class="chiamaci"><a href="#i-nostri-contatti">Contattaci</a></button>
    </div>
  </div>
  
</section>
