.banner-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 500px;
  background-image: url(panoramica.jpg);
  /* background-size: cover; */

  background-position: center;
  background-position-y: -180px;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

.tit-desc {
  margin-left: 10%;
  max-width: 60%;
  line-height: 2rem;
  /* background-color: rgba(0, 0, 0, 0.589);
  background-color: rgba(255, 255, 255, 0.589); */
}

.titolo {
  color: #e4d301;
  font-family: Roboto;
  text-align: center;
  font-weight: 900;
  letter-spacing: 6px;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.chiamaci {
  background-color: #0A41AC; /* Blu brillante */
  border: none;
/* Testo bianco per alto contrasto */
  padding: 12px 24px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Effetto di transizione per hover */
  letter-spacing: 0.5rem;
  font-size: 1.3rem;
  padding: 15px 20px;
  outline: none;
  color: #dfdfdf; 
}

a:hover,
a:focus,
a:active {
  color: inherit; /* Mantiene lo stesso colore anche in hover, focus e active */
  text-decoration: none; /* Assicura che non compaia un sottolineato al hover o focus */
  outline: none; /* Rimuove il contorno che appare in alcuni browser al focus */
  background-color: transparent; /* Mantieni trasparente lo sfondo anche in stato hover */
}

a:visited {
  color: inherit; /* Neutralizza il colore viola per i link visitati */
}

a{
  outline: none;
  text-decoration: none;
  color: #dfdfdf;
}

.chiamaci:hover {
  background-color: #007bff; /* Un blu leggermente più scuro per l'hover */
}

.descrizione {
  color: #dfdfdf;
  font-family: Roboto;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .banner-1 {
    background-position-y: 0px;
    background-size: cover;
  }

  .descrizione{
    font-size: 1rem;
  }

  .tit-desc{
    max-width: 80%;
  }

  .chiamaci{
    font-size: 1rem;
    margin-top: 5px;
  }

  .titolo{
    margin-top: 15px;
    margin-bottom: 30px;
  }
}
