<div class="container-fluid p-3">
  <footer>
    <ul class="nav justify-content-center m-3">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link px-2 text-body-secondary">Home</a>
      </li>
      <li class="nav-item">
        <a href="#chi-siamo" class="nav-link px-2 text-body-secondary"
          >Chi siamo</a
        >
      </li>
      <li class="nav-item">
        <a href="#i-nostri-lavori" class="nav-link px-2 text-body-secondary"
          >I nostri lavori</a
        >
      </li>
      <li class="nav-item">
        <a href="/contatti" class="nav-link px-2 text-body-secondary"
          >Contatti</a
        >
      </li>
    </ul>
    <p class="text-center text-body-secondary m-0">@2024 Dagi</p>
    <p class="text-center m-3">powered by giulia.pinna47@tiscali.it</p>
  </footer>
</div>
