#i-nostri-lavori{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1D1E20;
  }
  
  #titolo-lavori{
    font-size: 2rem;
    line-height: 2rem;
    font-weight:800;
    letter-spacing: 4px;
    color:  #dfdfdf;
    font-family: Roboto;
    margin-bottom: 40px;
    margin-top: 60px;
    padding: 20px;
  }
  
  .slider-wrap{
    position: relative;
    overflow: hidden;
    height: 400px;
    margin-bottom: 20px;
    padding: 0 8.5%;
  }
  
  .slider-main{
    border: 6px solid rgb(255, 255, 255);
    position: absolute;
    width: 200%;
  
  }
  
  .item{
    display: inline-block;
    border-radius: 5px;
    width: 370px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 0 20.5px;
  }
  
  .prev{
    position: absolute;
    left: 33px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .next{
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .item img{
  width: 100%;
  height: 100%;
  
  }


/* mobile */

  
@media (max-width: 768px ) {
    .item{
        width: 92%;
        
    }

    .prev{
        position: absolute;
        left: 31px;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      
      .next{
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translate(-50%, -50%);
      }
  
  }
  
/* ipad */
  @media (max-width: 992px) and (min-width: 768px) {
    .item {
        width: 43.5%;
    }
    .prev, .next {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .prev {
        left: 20px;
    }

    .slider-wrap{
      padding: 0;
    }
    .next {
        right: -20px;
    }

}