<section id="i-nostri-lavori">
    <p id="titolo-lavori">I NOSTRI LAVORI</p>
  
   <div class="container-fluid">
    <div class="slider-wrap">
      <div class="slider main">
        <div class="item" *ngFor="let lavoro of lavori">
          <img [src]="lavoro.urlFoto" [alt]="lavoro.descrizione">
        </div>
      </div>
       <div class="button-area">
        <button type="button" class="prev btn btn-warning"appPrev>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        </button>
        <button  class="next btn btn-warning" appNext>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </button>
       </div>
    </div>
   </div>
  </section>