#i-nostri-contatti {
  background-color: #1d1e20;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 3px;
  color: #e4d301;
  padding: 40px;
}

.title-contatti {
  margin-bottom: 50px;
  color: #dfdfdf;
  font-size: 2rem;
  line-height: 2.5rem;
}

.info {
  color: #dfdfdf;
}

.container-contatti {
  flex-wrap: wrap;
  margin: 0 20px;
  margin-top: 8px;
  width: 89%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 90px;
  font-size: 1.2rem;
  gap: 60px;
  letter-spacing: 0.5;
  line-height: 2rem;
}
