<section id="i-nostri-contatti">
  <p class="title-contatti"><b>Come puoi contattarci?</b></p>

  <div class="container-contatti">
    <div class="telefono">
      <p><b>Numeri di telefono</b></p>
      <p class="info">Giovanni:</p>
      <p>3278307847</p>
      <p class="info">Danilo:</p>
      <p>3468103772</p>
    </div>

    <div class="email">
      <p class="info"><b>Email:</b> dagi.costruzioni.snc@gmail.com</p>
      <p class="info"><b>PEC:</b> costruzionidagisnc@pec.it</p>
    </div>

  </div>


  
  <p><b>Costruzioni dagi s.n.c. di Danilo e Giovanni</b></p>
  Via satta 1, 09010, Gonnesa
  <p>P.Iva: 04068480922</p>
</section>
